@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

/*Configurações bases*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ececec;
    color: #110808;
    font-family: "Nunito", serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

/*Navegação*/
nav {
    border: 1px solid #110808;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #110808;
    font-weight: bold;
}

nav a:hover {
    border: 2px solid #110808;
    padding: 5px;
    border-radius: 5px;
}

/*Conteudo principal*/
main section {
    margin-top: 40px;
}

main h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    font-size: 36px;
}

main p {
    font-family: "Nunito", serif;
    font-weight: 400;
    margin: 1em 20px 2em 20px;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/*Formulário (contato.html)*/

/*
body {
    width: 100%;
    margin: 0px;
    padding-bottom: 30px;
    background-color: #00010D;
    color: #ececec;
    font-family: "Nunito", serif;
    font-weight: 300;
    font-size: 16px;
}
*/
form {
    width: 70vw;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    padding: 0 20px 2em 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 1rem 0;
    border-bottom: 3px solid #ececec;;
    margin: 5px auto;
    color: #110808;
  }

fieldset:last-of-type {
    border-bottom: none;
  }

label {
    display: block;
    margin: 1rem 0;

  }

input, textarea {
    background-color:  #ececec;
    border: 1px solid  #ececec;
    color: #110808;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #ececec;
    border-color: #d6d6d6;
    min-width: 300px;
  }




/*
> Adicionar margin, padding;
trabalhar com display: (block, inline ou inline block a depender do desejado)

> Textar dispaly none em algum elemento

> Formulários:
(contato.html)e (gerar.html)
 1- Tamanho dos inputs e text-area adequados.
 2 - Ajustar margin e padding

>Tables:
(index.html e galeria.html)
 1- Adicionar border-collapse: collapse; (visual mais limpo)
 2- Alterar cor de fundo dos cabeçalhos (th)
 3 - Definir bordas
*/