@charset "utf-8";

/* ========================================================================== */
/* MEDIA QUERIES PARA TELAS MENORES (CELULAR)                                */
/* - Breakpoint principal: max-width: 768px                                  */
/* ========================================================================== */

@media screen and (max-width: 999px) {

   body {
        overflow-x: hidden;
   } 

   nav {
        display: flex;
        flex-direction: row;
        border: none;
    }

    a:hover {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: space-around;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0 auto;
        font-size: 24px;
    } 

    .mobile-menu div {
        display: block;
        width: 32px;
        height: 2px;
        background-color: #110808;
        margin: 8px;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #ececec;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    .nav-list li {
        color: #ececec;
        margin-left: 0;
        opacity: 0;
    }

    .nav-list.active {
        transform: translateX(0);
    }
    /*
    a {
        text-decoration: none;
        color: #110808;
        transition: 0.3s;
    }

    a:hover{
        opacity: 0.7;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }

    .nav-list {
        list-style: none;
        display: flex;
    }

    .nav-list li {
        letter-spacing: 3px;
        margin-left: 32px;

    }
*/
}