@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

/*Configurações bases*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    color: #110808;
    font-family: "Nunito", serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
section {
    padding: 20px;
}

/*Navegação*/

nav {
    border: 1px solid #110808;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #110808;
    font-weight: bold;
}

nav a:hover {
    border: 2px solid #110808;
    padding: 5px;
    border-radius: 5px;
}
/*Ul e li geral*/

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #110808;
}

a:hover {
    color: #616161;
}

main h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    font-size: 36px;
}

main h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 18px;
}

main p {
    font-family: "Nunito", serif;
    font-weight: 400;
    margin: 1em 20px 2em 20px;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display: none;
}

/*Table*/

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table {
    background-color: #d6d6d6;
    padding: 20px;
    margin: 20px auto ;
}

th {
    background: #ececec;
    padding: 5px 15px;
    text-align: left;
    width: 50%;
}

th, td {
    width: 50%;
}

td {
    font-family: "Nunito", serif;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 100;
    margin: 1em 20px 2em 20px;
}

.functionality {
    font-weight: bold;
}

.extra {
    display: none;
}

/*Gerador*/
#gerar {
    background-color: #d6d6d6;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 60%;
    max-width: 500px;
}

#gerador {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*Formulário*/

fieldset ul {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

fieldset li {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
}

fieldset a {
    text-decoration: none;
    color: #110808;
}

fieldset a:hover {
    color: #d6d6d6;
}

.contacts {
    width: 70vw;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    padding: 0 20px 2em 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 1rem 0;
    border-bottom: 3px solid #ececec;;
    margin: 5px auto;
    color: #110808;
  }

fieldset:last-of-type {
    border-bottom: none;
  }

label {
    display: block;
    margin: 1rem 0;
    text-align: left;

  }

input, textarea {
    background-color:  #ececec;
    border: 1px solid  #ececec;
    color: #110808;
    margin: 10px 0 0 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    min-height: 2em;
}

.estilo-botao {
    display: block;
    width: 100%;
    max-width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #ececec;
    border-color: #d6d6d683;
    cursor: pointer;
  }

 .estilo-botao:hover {
    color: #979797;
  }

  .estilo-botao:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
    color: #a0a0a0;
}
